### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.settings/
.classpath
.project
bin/

### OS ###
.DS_Store
Thumbs.db

### Logs & DB ###
*.log
logs/
backups/

### Visual Studio Code ###
.vscode/
